<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-img src="/assets/icon/logo.png" id="logo"></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="padding: 15%;">
        <ion-card-content>
            <div text-center>
                O mapa é utilizado para registrar locais onde possam ter acontecido coisas ruins com você,
                tais como assédio sexual, tentativa de agressão ou homicídio, ameaças, assalto e furto.
                <br>
                Esteja ciente de que um registro no mapa não conta como uma denúncia. Seu objetivo é somente
                coletar dados e informar tanto mulheres quanto autoridades sobre áreas com maiores índices
                de violência.
            </div>
        </ion-card-content>
    </ion-card>

    <!--  <ion-button (click)="loadMap()" shape="round" fill="outline" size="small" class="botaomapa" color="success">-->
    <!--    <ion-icon slot="start" name="locate"></ion-icon>-->
    <!--        Carregar mapa-->
    <!--  </ion-button>-->

    <!--  <div class="map-wrapper">-->
    <!--    <div id="map_center">-->
    <!--    </div>-->
    <!--    <div #map id="map"></div>-->
    <!--  </div>-->
    <!--  <div id="address">-->
    <!--    <span>{{adress}}</span>-->
    <!--  </div>-->

</ion-content>
