<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content style="padding: 20%;">
  <div id="title">
  <ion-label>
    Quando falamos em relacionamentos abusivos, o que nos vem em mente são situações extremas, de agressões
    físicas e abuso sexual. No entanto, existem outros detalhes que podem passar despercebidos por algumas
    pessoas, mas que também caracterizam uma relação abusiva.<br>
    Falar sobre o tema é uma maneira de entender e ajudar quem está passando por algo parecido.
    <br>
    Vamos lá?
  </ion-label>
</div>

  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-title class="title-card">Violência física</ion-card-title>
        <ion-card-content class="content-card">
            <ion-img src="/assets/icon/help3.jpg" style="padding: 5%;"></ion-img> 

            Qualquer ato que prejudique a saúde ou o corpo da vítima.<br>
            Por exemplo: tapas, socos, empurrões, agressões com uso de armas ou objetos, cortes,
            queimaduras, etc. <br>
            Tudo isso se enquadra como violência física, mesmo que ele peça desculpas
            e mande flores depois.
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-title class="title-card">Violência psicológica</ion-card-title>
        <ion-card-content class="content-card">
            <ion-img src="/assets/icon/help4.jpg" style="padding: 5%;"></ion-img> 

            Qualquer ato que ponha em risco o estado psicológico e emocional de uma mulher,
            causando danos à sua autoestima e identidade.<br>
            Por exemplo: insultos constantes, humilhação, chantagem, ridiculização, 
            privação de escolhas e liberdade (tais como o direito de estudar ou trabalhar),
            isolamento dos familiares e amigos, etc. <br>
            Tudo isso se enquadra como violência psicológica, principalmente se ele chama você 
            ou a ex dele de louca.
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
          <ion-card-title class="title-card">Violência moral</ion-card-title>
          <ion-card-content class="content-card">
              <ion-img src="/assets/icon/help6.jpg" style="padding: 5%;"></ion-img> 

              Difamar, injuriar, ou caluniar, ferindo a honra e a reputação da vítima.<br>
              Por exemplo: ofender a dignidade da mulher, acusar de roubo, traição,
              interesse, espalhar mentiras e comentários humilhantes sobre o 
              corpo da vítima.<br>
              Muitas vezes, a intenção dessa violência é
              abalar a vítima emocionalmente.
          </ion-card-content> 
     </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-title class="title-card">Violência Sexual</ion-card-title>
            <ion-card-content class="content-card">
                <ion-img src="/assets/icon/help7.jpg" style="padding: 5%;"></ion-img> 
                Forçar e obrigar a mulher através de força física, ameaças, coerção ou 
                intimidação a ter relações ou práticas sexuais contra sua vontade.<br>
                Por exemplo: Estupro (dentro ou fora de casamento), assédio,
                aliciar ou molestar, etc.<br>
                Se um homem não entende que não significa não, ele não é o homem certo para você.
            </ion-card-content> 
       </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-title class="title-card">Violência patrimonial</ion-card-title>
            <ion-card-content class="content-card">
                <ion-img src="/assets/icon/help1.jpg" style="padding: 5%;"></ion-img> 

                Quando o agressor toma posse de bens da vítima. <br>
                Por exemplo: controlar o dinheiro e impedir que
                a vítima tenha acesso ao mesmo, destruir ou vender
                bens pessoais como jóias, roupas, casas, ou até 
                animais de estimação.<br>
                Geralmente, o objetivo do agressor é fazer a
                vítima se tornar dependente financeiramente dele.
            </ion-card-content> 
       </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-title class="title-card">O que fazer em uma situação parecida?</ion-card-title>
            <ion-card-content class="content-card">
                <ion-img src="/assets/icon/help.jpg" style="padding: 5%;"></ion-img> 

                O primeiro passo é pensar sobre como você se sente sobre esse relacionamento.<br>
                Não devemos desperdiçar nossa vida com pessoas que nos fazem mal, portanto, busque ajuda
                nos amigos e familiares, não se sinta culpada nem com pena, esse é o momento de pensar
                em você e no seu bem estar. <br>
                Agressores geralmente são imprevisíveis, eles podem pedir desculpas e humilhar-se aos
                seus pés, ou até mesmo colocar a culpa de suas atitudes em você, portanto, fique atenta
                aos sinais e fuja de problemas o mais rápido possível!<br>
            </ion-card-content> 
       </ion-card>
    </ion-item>
  </ion-list>
  <div style="padding: 10%;">
    <ion-label>Ilustrações de Debora Kais.</ion-label>
  </div>
</ion-content>
