<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div id="content">
    <h1>Insira o novo contato</h1>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input id="loginField" placeholder="Nome completo" type="text" 
              [(ngModel)]="nome" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input id="loginField" placeholder="Telefone" type="text" 
              [(ngModel)]="telefone" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button id="btnCadastro" shape="round" (click)="cadastrar()">
      Cadastrar
    </ion-button>

    </div>
</ion-content>
