<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="title">
    <ion-label>
        Quando se trata do funcionamento de uma denúncia, muitas dúvidas aparecem para várias mulheres. Em 
        alguns casos, elas chegam ao ponto de desistirem de uma denúncia por medo, vergonha, ou insegurança. <br>
        Aproveite essa seção para tirar qualquer dúvida que possa ter sobre as denúncias de violência 
        doméstica.
    </ion-label>
  </div>
  <ion-list>
    <ion-item>
        <ion-card>
          <ion-card-title class="title-card">Quem pode denunciar a violência contra a mulher?</ion-card-title>
          <ion-card-content class="content-card">
              <ion-img src="/assets/icon/simbol.png" style="padding: 5%;"></ion-img> 
              As ações penais referentes à violência doméstica são chamadas de públicas incondicionadas,
              o que significa que elas são movidas pelo Ministério Público, independentemente
              da vontade da vítima, ou seja, se ela aprova ou não a denúncia, ela será encaminhada
              do mesmo jeito. <br>
              Dessa forma, qualquer pessoa pode denunciar o caso, a fim de impedir
              a continuidade das agressões.<br>
              É dever de todos, principalmente dos mais 
              próximos, denunciar o caso à algum órgão público, preferencialmente de proteção às mulheres.
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
          <ion-card>
            <ion-card-title class="title-card">
              Qual a diferença entre uma denúncia feita pelo aplicativo para uma feita na delegacia?
            </ion-card-title>
            <ion-card-content class="content-card">
                <ion-img src="/assets/icon/help3.jpg" style="padding: 5%;"></ion-img> 
               O aplicativo basicamente vai te poupar o trabalho de ir até uma delegacia, caso você tenha
               dificuldades de locomoção (seja uma deficiência ou falta de transporte), ou até mesmo vergonha
               de relatar sua situação pessoalmente na delegacia. Contudo, você deve estar ciente de que pode
               ser chamada para depor pessoalmente contra o agressor a qualquer momento, pois infelizente 
               nós sempre temos a possibilidade de trote dentro do aplicativo. Mas fique tranquila, seu caso
               receberá o mesmo tratamento que uma denúncia feita em delegacia.
            </ion-card-content>
          </ion-card>
        </ion-item>

      <ion-item>
          <ion-card>
            <ion-card-title class="title-card">Quanto tempo pode levar o processo de denúncia?</ion-card-title>
            <ion-card-content class="content-card">
                <ion-img src="/assets/icon/help3.jpg" style="padding: 5%;"></ion-img> 
                O tempo é relativo de região pra região. O órgão responsável pelo tratamento das denúncias
                é o Ministério público, portanto, tudo depende do tempo de análise deste órgão.<br>
                Contudo, a Lei Maria da Penha afirma que, após a realização do Boletim de Ocorrência (B.O.),
                o caso deve ser remetido ao juiz em, no máximo, 48 horas. A Justiça também tem 48 horas 
                para analisar e julgar a concessão das medidas protetivas de urgência. 
            </ion-card-content>
          </ion-card>
        </ion-item>

    </ion-list>
</ion-content>
