<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="conteudo">
        <img src="/assets/icon/logo.png">
        <h1 class="text-center">Laís Mondadori Santos</h1> <br>
        <p class="text-center">Sou estudante do 6° período do curso técnico integrado em informática do IFMS,
        Campus Jardim.<br>
        Desenvolvi este aplicativo como trabalho de conclusão de curso, sob orientação de
        André Quintiliano.<br>
        Meu principal objetivo é fazê-la sentir-se segura e à vontade para denunciar qualquer ocorrido que tenha
        lhe machucado ou incomodado de alguma forma.</p>
        
        <p class="text-center">Caso tenha dúvidas sobre como usar o App:</p>
        
        <ion-button id="btn">Clique aqui.</ion-button>
        <br>
        <div id="contact">
          <h1 class="text-center">Para entrar em contato:</h1>
          <p><ion-icon name="mail"></ion-icon>
          <b>email:</b> lais.shadow@gmail.com</p>

          <p><ion-icon name="logo-instagram"></ion-icon>
          <b>Instagram:</b> @lais_monda</p>
          <br>
        </div>
  </div>
</ion-content>
