<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <div style="padding: 10%;">
    <ion-label>
      Aqui estão todas as Denúncias que você encaminhou. Você pode alterá-las, ou removê-las
       a qualquer momento.
    </ion-label>
  </div>
<div>
  <ion-card *ngFor="let item of (listaDenncias | async)">
    <ion-item>
      <ion-avatar>
      </ion-avatar>
      <ion-card-title>{{denuncia.id}}</ion-card-title>
      <ion-card-subtitle>{{denuncia.nome}}</ion-card-subtitle>
    </ion-item>
    <ion-item>
        <ion-avatar>
        </ion-avatar>
        <ion-label>Nenhum contato cadastrado</ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
        </ion-avatar>
        <ion-label>Nenhum contato cadastrado</ion-label>
    </ion-item>
  </ion-card>
</div>
  </ion-content>
