<ion-header>
  <ion-toolbar>
    <ion-title> 
    <ion-img src="/assets/icon/logo.png" id="logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-button (click)="loadMap()" shape="round" fill="outline" size="small" class="botaomapa" color="success">
    <ion-icon slot="start" name="locate"></ion-icon>
        Carregar mapa
  </ion-button>

  <div class="map-wrapper">
    <div id="map_center">
    </div>
    <div #map id="map"></div>
  </div>
  <div id="address">
    <span>{{adress}}</span>
  </div>

</ion-content>
