#logo{
    width: 80px;
    height: 80px; 
}

#arrow{
    margin-left: 10px;
    padding: 5px;
}

#top{
    margin-left: 10px;
    padding: 5px;
}

#content{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 10%;
}

#btnAlterar{
    --background: rgb(230, 86, 158);
}