<ion-header>
  <ion-toolbar>
      <ion-icon id="arrow" name="md-arrow-round-back" size="large" (click)="turnBack()">
      </ion-icon>
      <ion-label id="top">Alterar senha</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <ion-label style="padding: 15%;">Insira a senha atual vinculada à sua conta, e no campo seguinte
     a nova senha que deseja</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Senha atual" type="password" required 
            autocomplete="off" [(ngModel)]="pass"></ion-input>
          </ion-item>    
          <ion-item>
            <ion-input placeholder="Nova senha" type="password" required 
            autocomplete="off" [(ngModel)]="newPass"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      </ion-grid>
      <ion-button id="btnAlterar" shape="round">Alterar senha</ion-button>
    </div>
</ion-content>
