<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" id="logo"></ion-img> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="text">
    <ion-button id="button" (click)="cadastrar()" shape="round">Novo contato</ion-button><br>
    Seus contatos serão acionados caso você esteja em perigo. <br>
    Escolha com cuidado as pessoas que você mais confia.<br>
  </div>
  <div>

    <ion-card *ngFor="let item of (listaContatos | async)">
      <ion-item>
        <ion-avatar>
        </ion-avatar>
        <ion-card-title>{{contato.id}}</ion-card-title>
        <ion-card-subtitle>{{contato.nome}}</ion-card-subtitle>
      </ion-item>
      <ion-item>
          <ion-avatar>
          </ion-avatar>
          <ion-label>Nenhum contato cadastrado</ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar>
          </ion-avatar>
          <ion-label>Nenhum contato cadastrado</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
