#logo{
    height:80px;
    width:80px;
}
#text{
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#button{
    --background: rgb(230, 86, 158);
    --background-focused:  rgb(230, 86, 158);
    --background-hover:  rgb(230, 86, 158);
    color: white;
}