<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" id="logo"></ion-img> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="text">
    <ion-button id="button" (click)="cadastrar()" shape="round">Novo contato</ion-button><br>
    Seus contatos serão acionados caso você esteja em perigo. <br>
    Escolha com cuidado as pessoas que você mais confia.<br>
  </div>

    <ion-card *ngFor="let item of (listaContatos | async)">
      <ion-card-header>
        <ion-card-title>{{item.nome}}</ion-card-title><br>
        <ion-card-subtitle>{{item.telefone}}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
</ion-content>
