<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" id="logo"></ion-img> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-title class="title-card">
    <b>  Gostaria de fazer uma denúncia? </b>
    </ion-card-title>
      <ion-list>
        <ion-item style="margin-top: 20px;">
          <ion-label (click)="minhaDenuncia()">Quero ajuda!</ion-label>
          <ion-icon name="alert"></ion-icon>
        </ion-item>
    
        <ion-item style="margin-top: 20px;">
          <ion-label (click)="outraDenuncia()">Quero ajudar alguém!</ion-label>
          <ion-icon name="heart"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card class="card">
      <ion-card-title class="title-card">
      <b> Precisa de informação? </b>
      </ion-card-title>
      <ion-list>
        <ion-item style="margin-top: 20px;">
        <ion-label>Tipos de violência contra a mulher</ion-label>
        <ion-icon name="heart-dislike"></ion-icon>
        </ion-item>
        <ion-item style="margin-top: 20px;">
          <ion-label>Lei Maria da Penha</ion-label>
          <ion-icon name="bookmarks"></ion-icon>
        </ion-item>
        <ion-item style="margin-top: 20px;">
          <ion-label>O processo de denúncia</ion-label>
          <ion-icon name="time"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
