#logo{
  width:80px;
  height:80px;
}
#buttonArea{
  margin-top: 50px;
}
#card{
  padding: 10%;
  border-color: black;
}
.card{
  border-color:  rgb(241, 163, 202);
  border-radius: 10px;
  border-width: 10px;
}

.title-card{
  background-color: rgb(241, 163, 202);
  text-align: center;
}