<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div>

  </div>
  <div id="title">
    <ion-label>
      A lei Maria da Penha é bastante conhecida pelo público brasileiro, especialmente as mulheres.
      Entretanto, muitos acreditam que a lei só cobre casos de agressão física, quando na verdade ela possui
      muitas vertentes para amparar diversos tipos de violência doméstica.<br>
      Para que você entenda sem dificuldade, explicamos separadamente cada ponto abordado pela lei.<br>
      Vamos lá?
    </ion-label>
  </div>

  <ion-list>
      <ion-item>
          <ion-card>
            <ion-card-title class="title-card">O que é violência doméstica segundo a lei?</ion-card-title>
            <ion-card-content class="content-card">
              Qualquer ato que cause morte, lesão, sofrimento sexual ou psicológico, ou danos morais e 
              patrimoniais, é considerado violência de gênero em casos de:<br>
              I - praticada em unidade doméstica (espaço de convívio de pessoas com ou sem vínculo familiar)<br>
              II - praticada em área familiar (comunidade formada por indivíduos que se consideram parentes
              seja por laços naturais ou afinidade)<br>
              III - praticada em qualquer relação íntima de afeto, na qual o agressor convive ou já conviveu
              com a vítima<br>
              <b> A violência doméstica independe de orientação sexual em todos os casos!! </b>
              
            </ion-card-content>
          </ion-card>
      </ion-item>

      <ion-item>
          <ion-card>
            <ion-card-title class="title-card">Quais casos são considerados violência perante a lei?</ion-card-title>
            <ion-card-content class="content-card">
                <b>- Agressão física</b> - Qualquer ato que lesione o corpo da vítima. <br>
                <b>- Agressão psicológica</b> - Qualquer ato que cause dano emocional e diminuição da
                autoestima. <br>
                <b>- Sexual</b> - Mediante chantagem, suborno ou manipulação, coagir a vítima a manter
                relações sexuais não desejadas, impedir a mulher de usar métodos contraceptivos, ou
                forçar gravidez, aborto ou prostituição.<br>
                <b>- Patrimonial</b> - Reter o dinheiro da mulher, destruição total ou parcial de seus objetos
                pessoais, documentos, instrumentos de trabalho, bens, e recursos econômicos.<br>
                <b>- Moral</b> - Calúnia, difamação, ou injúria.
            </ion-card-content>
          </ion-card>
      </ion-item>

      <ion-item>
          <ion-card>
            <ion-card-title class="title-card">Qual é a assistência oferecida à mulher pela lei?</ion-card-title>
            <ion-card-content class="content-card">
              -Inclusão da mulher em programas assistencias do governo federal, estadual, e municipal, determinados
              pelo juiz. <br>
              -Acesso prioritário à remoção quando a vítima é servidora pública. <br>
              -Afastamento do local de trabalho por até seis meses.<br>
              -Encaminhamento à assistencia judiciaria para ajuizamento de separação judicial, divórcio,
              e anulação de casamento perante o juízo.<br>
              -Acesso à contraceptivos de emergência e procedimentos médicos cabíveis em caso de violência
              sexual. <br>
              -O agressor deve pagar por todos os danos causados, inclusive os custos dos serviços prestados
              pelo sus em caso de tratamento da vítima. <br>
              -Prioridade para matrícula de dependentes em escolas de educação básica mais próximas de sua
              residência, ou para transferência.<br>
              -Sigilo e proteção dos dados da vítima, sendo o acesso às informações reservado somente ao juiz.
            </ion-card-content>
          </ion-card>
      </ion-item>
  </ion-list>
</ion-content>
